 /* VERTICAL NAVIGATION BAR
 -------------------------------------------------- */
 @media (min-width: 768px) {
    .custom-nav-ver {
             
        .collapse {
            display: block;
        }
        .navbar-collapse {
            width:100%;
            padding-left: 87px;
        }
        .dropdown-menu {
            position: static !important;
            width: 100%;
        }
        .navbar-nav {
            width: 100%;
        }
        .nav-item {
            width: 100%;
        }
        li.active .dropdown-menu {
            position: static !important;
            display: block  !important;
        }
     }
 
    .navbar {
        background-color: $color-white;
        position: fixed;
        font-size: 20px;
        padding: 32px 0 0;
        width: 210px;
     }
    
    .navbar-brand {
        padding: 0;
        margin: 0;
    }

    .navbar a {
        border: none;   
     }
  
    .navbar-light .navbar-nav .nav-link {
        color: $mycolor-1;
        font-size: 20px;
        &:hover {
        color: $color-white;
        background-color: $mycolor-1;
          }
     }

     //.home_button:hover {
       // visibility: hidden;

     //}

}
    
        

 /* table of contents
 --------------------------- */
 #toc {
    margin-bottom: 1em;
    
    .nav {
        display: block;
        position: fixed;
    }
  
    .nav>li>a {
        color: $color-grey-2;
        border-left: 0.5px solid $color-grey-2;
        border-bottom: none;
        padding: 0px 15px;
        margin: 0px 10px 10px;
        font-size: 17px;
        font-weight: $font-weight-light;
    }

    .nav>li>a:hover, .nav>li>a:focus, .nav>li>a:active {
            color: $clientcolor-2;
            border-left: 0.5px solid $clientcolor-2;
    
        //.nav>li>a.selected { moet een class selected maken
    }

    //.nav>li>a:focus, nav[data-toggle=toc] .nav>li>a:hover

 } 

 